.about_us{
    width: 51% ;
    padding:40px; 
    margin-top:40px;
}
.about_us h4{
    font-size: 1.9em;
    line-height: 1.5em;
    padding: 17px 0 17px 0;
    font-weight: 400;
    margin: 8px !important;
}
.about_us p {
    line-height: 1.9em;
    margin: 0;
}
.about_us_title{
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}
.about_us_sep{
    width: 20%;
    height: 6px;
    border-top: 1px solid  #e0dede;
    border-bottom: 1px solid #e0dede;
}
.about_content{
    display: flex;
    gap: 30px;
}
.about_content img{
    height:fit-content;
}
.img2{
    width: 46%;
   
}
.img3{
    width: 46%;
   
}




  /* For small devices (596px and up) */

  @media only screen and (max-width: 600px) {
    .about_us{
        width: 100% ;
       
    }
    .about_content{
        display: block;
        gap: 20px;
    }
    
   
}