.our_serviceses{
    width: 50% ;
    padding:40px; 
    margin-top:40px
}
.our_serviceses h2{
    font-size: 26px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 31px;
}
.our_serviceses p{
    margin-top: 0;
    margin-bottom: 20px;
}