.nav {
    padding: 25px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
   
  }
  .nav_bottom_border{
    height: 10px;
    background-image: linear-gradient(139deg, rgb(251, 136, 23), rgb(255, 75, 1), rgb(193, 33, 39), rgb(224, 42, 255));
  }
  .nav > .nav-header {
    display: flex;
    gap: 50px;
    
  }
  .nav-image-and-logo {
    display: flex;
    gap: 20px;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
     font-weight: 500;
  }
  .nav > .nav-btn {
    display: none;
  }
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    align-items: center;
  }
  .nav > .nav-links > a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    position: relative;
    margin: 13px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.5s transform ease;
    
  }
  .nav > .nav-links > a::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background:#f21111;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
  }
  .nav > .nav-links > a:hover::before {
    transform: scale3d(1, 1, 1);
  }
  .nav > #nav-check {
    display: none;
  }
  .navbar-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  @media (max-width: 600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 27px;
      top: 27px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
    }
    .nav > .nav-btn > label > span:hover,
    .nav #nav-check:checked ~ .nav-btn > label > span {
        border-top: 2px solid rgb(168, 14, 14)  !important;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #f21111;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 88px;
      left: 0px;
      text-align: center;
     
      
    }
    .nav > .nav-links > a {
      display: block;
      margin-left: 18px;
      color: white;
    }
    .nav > .nav-links > a:first-child {
      margin-top: 30px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  
    .nav > .nav-header {
      display: inline;
    }
    .nav > .nav-header > .nav-title {
      padding-left: 0;
    }
    .nav {
      padding: 17px;
      justify-content: space-between;
    }
    .navbar-logo {
      display: none;
    }
    .home-subnav {
      display: none;
    }
  
    .searchBook {
      width: 89%;
    }
    .search-bar-small {
      width: 100% !important;
      display: flex;
      justify-content: center;
      background-color: aqua;
    }
    .search-bar {
      display: none;
    }
    .nav_bottom_border{
      height: 7px;
    }
  }
  /*  */
/* 
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.dropdown{
    min-width: 100%; 
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	
}
ul li ul.dropdown li{
    display: block;
} */

/*  */
/* .dropdawon_nav{
  display: inline-block;
  position: relative;
}
.dropdawon_nav a{
  text-decoration: none;
  color: #000;
}
.dropdawon_nav ul{
  padding: 0;
  list-style: none;
}
.dropdawon_nav ul li:hover .dropdown_item{
  display: block;
}
.dropdown_item{
  display: none;
  position: absolute;
  
} */


/*  */


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown a{
  color: #000;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,.85);
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 48px;
}

.dropdown-content a {
  padding: 8px 15px;
  color: #fff;
  text-decoration: none;
  display: block;
  clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    white-space: nowrap;
    font-size: 14px;
   
}

.dropdown-content a:hover {background-color: red;}
.dropdown:hover .dropdown-content {
  display: block;
}